<app-section-header titulo="Parcerias"></app-section-header>
<section class="w-full bg-backgroud-superficie py-8 lg:py-12">

    <div class="flex flex-row justify-between mt-8 mb-8 max-w-[1280px] mx-auto px-6 lg:px-0">
        <div
            class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
            <img src="assets/parceiros/logoAstcu.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
        </div>
        <div
            class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
            <img src="assets/parceiros/logoAstcu.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
        </div>
        <div
            class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
            <img src="assets/parceiros/logoAstcu.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
        </div>
        <div
            class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
            <img src="assets/parceiros/logoAstcu.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
        </div>

    </div>
</section>