<!-- <app-section-header titulo="Parcerias"></app-section-header>
<section class="w-full bg-backgroud-superficie py-8 lg:py-12">

    <div class="flex flex-row justify-between mt-8 mb-8 max-w-[1280px] mx-auto px-6 lg:px-0">
        <div
            class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
            <img src="assets/parceiros/logoAstcu.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
        </div>
        <div
            class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
            <img src="assets/parceiros/logoAstcu.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
        </div>
        <div
            class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
            <img src="assets/parceiros/logoAstcu.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
        </div>
        <div
            class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
            <img src="assets/parceiros/logoAstcu.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
        </div>

    </div>
</section> -->

<app-section-header titulo="Parcerias"></app-section-header>
<section class="secao-padrao w-full py-8 lg:py-12 overflow-hidden">
    <div class="flex animate-infinite-scroll gap-8">
        <div class="flex gap-8">
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/logoAstcu.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/5196b5a87944a6284cbe5bc47d94f198.png" alt=""
                    class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/asapTCU.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/clubs.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/Pro-TCU_logo.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/Sindilegis_30anos_NovaMarca.png" alt=""
                    class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>

        </div>
        <div class="flex gap-8">
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/logoAstcu.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/5196b5a87944a6284cbe5bc47d94f198.png" alt=""
                    class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/asapTCU.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/clubs.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/Pro-TCU_logo.png" alt="" class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>
            <div
                class="bg-white h-full max-w-[300px] min-w-[300px] max-h-[80px] flex items-center justify-center p-4 rounded-lg shadow-md">
                <img src="assets/parceiros/Sindilegis_30anos_NovaMarca.png" alt=""
                    class="h-10 lg:h-[40px] w-auto object-contain" />
            </div>

        </div>
    </div>


</section>