<div class="container py-8 mt-36">

    <app-section-header titulo="Dicas de Saúde - Dsaud" />

    <!-- Grid de Dicas -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 px-3 lg:px-0 mt-6">
        @for (dica of todasDicas(); track dica.id) {
        <!-- Usamos o mesmo componente de card da home para manter a unidade visual -->
        <app-dsaud-card [dica]="dica" />
        } @empty {
        <p class="col-span-full text-center text-gray-500 py-10">Nenhuma dica encontrada para este período.</p>
        }
    </div>
</div>