<app-section-header titulo="Unidos pelo esporte, movidos pelo cidadão" />
<app-container-padrao>
    <div
        class="flex flex-col lg:flex-row gap-6 w-full lg:h-[400px] bg-backgroud-suporte-alerta rounded-2xl overflow-hidden mb-16 mt-8">
        <div class="w-full lg:w-1/2 bg-backgroud-suporte-alerta h-80 lg:h-full">
            <img src="assets/imagens/man-playing-basketball-with-disabled-friend-wheelchair-outdoor-court.jpg"
                alt="Ilustração de contato" class="w-full h-full object-cover" />
        </div>

        <div class="w-full lg:w-1/2 rounded-2xl p-8 lg:p-12 flex flex-col justify-center gap-4  h-auto lg:h-full">
            <h3 class="text-3xl font-bold text-azul-coe-escurissimo mb-2">Junte-se ao COE-TCU</h3>

            <p class="text-texto-conteudo-primario text-base mb-8">
                Venha construir conosco um espaço de bem-estar e integração! <br />
                Participe das ações do COE-TCU e seja parte dessa rede de saúde e <br />
                esporte.
            </p>
            <p class="text-texto-conteudo-primario text-base mb-8">
                Entre em contato diretamente com os representantes do COE:
            </p>

            <div class="space-y-6">
                <div class="flex items-start gap-4">
                    <div class="text-azul-coe-escurissimo mt-0.5">
                        <svg width="27" height="21" viewBox="0 0 27 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M23.6906 0H2.55938C1.15313 0 0 1.14375 0 2.55938V18.2719C0 19.6875 1.15313 20.8313 2.55938 20.8313H23.6813C25.0969 20.8313 26.2406 19.6781 26.2406 18.2719V2.55938C26.25 1.14375 25.0969 0 23.6906 0ZM23.0813 1.875L13.125 10.5281L3.16875 1.875H23.0813ZM23.6906 18.9563H2.55938C2.18438 18.9563 1.875 18.6469 1.875 18.2719V3.23438L12.5063 12.4781C12.6844 12.6281 12.9 12.7125 13.125 12.7125C13.35 12.7125 13.5656 12.6375 13.7437 12.4781L24.375 3.23438V18.2719C24.375 18.6469 24.0563 18.9563 23.6906 18.9563Z"
                                fill="#1C519B" />
                            <path
                                d="M23.6906 0H2.55938C1.15313 0 0 1.14375 0 2.55938V18.2719C0 19.6875 1.15313 20.8313 2.55938 20.8313H23.6813C25.0969 20.8313 26.2406 19.6781 26.2406 18.2719V2.55938C26.25 1.14375 25.0969 0 23.6906 0ZM23.0813 1.875L13.125 10.5281L3.16875 1.875H23.0813ZM23.6906 18.9563H2.55938C2.18438 18.9563 1.875 18.6469 1.875 18.2719V3.23438L12.5063 12.4781C12.6844 12.6281 12.9 12.7125 13.125 12.7125C13.35 12.7125 13.5656 12.6375 13.7437 12.4781L24.375 3.23438V18.2719C24.375 18.6469 24.0563 18.9563 23.6906 18.9563Z"
                                fill="#0B1C32" fill-opacity="0.2" />
                        </svg>

                    </div>
                    <div>
                        <span class="block font-bold text-base text-azul-coe-escurissimo">E-mail</span>
                        <a href="mailto:coe@tcu.gov.br"
                            class="text-texto-conteudo-primario text-base hover:underline">coe@tcu.gov.br</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-container-padrao>