<section class="w-full py-8 secao-conteudo">
    <app-section-header titulo="Unidos pelo esporte, movidos pelo cidadão" />

    <div class="container px-6 lg:px-0">
        <div
            class="flex flex-col lg:flex-row gap-0 w-full lg:h-[420px] rounded-3xl overflow-hidden shadow-sm border border-[#F2F2F2] mb-16">

            <div class="w-full lg:w-1/2 h-80 lg:h-full overflow-hidden">
                <img src="assets/imagens/man-playing-basketball-with-disabled-friend-wheelchair-outdoor-court.jpg"
                    alt="Integração e Esporte" class="w-full h-full object-cover" />
            </div>

            <div class="w-full lg:w-1/2 p-8 lg:p-12 flex flex-col justify-center items-start text-left bg-[#F2F2F2]">

                <h3 class="text-3xl font-bold text-azul-coe-escurissimo mb-4 leading-tight">
                    Junte-se ao COE-TCU
                </h3>

                <p class="text-texto-conteudo-primario text-base mb-6 leading-relaxed">
                    Venha construir conosco um espaço de bem-estar e integração!
                    Participe das ações do COE-TCU e seja parte dessa rede de saúde e esporte.
                </p>

                <p class="text-texto-conteudo-primario text-sm font-semibold mb-6">
                    Entre em contato diretamente com os representantes do COE:
                </p>

                <div class="space-y-4 pt-4 border-t border-[#B6B6B7] w-full">
                    <div class="flex items-center gap-4">
                        <div class="w-10 h-10 bg-azul-coe-escurissimo/5 rounded-full flex items-center justify-center">
                            <svg width="22" height="18" viewBox="0 0 27 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M23.6906 0H2.55938C1.15313 0 0 1.14375 0 2.55938V18.2719C0 19.6875 1.15313 20.8313 2.55938 20.8313H23.6813C25.0969 20.8313 26.2406 19.6781 26.2406 18.2719V2.55938C26.25 1.14375 25.0969 0 23.6906 0ZM23.0813 1.875L13.125 10.5281L3.16875 1.875H23.0813ZM23.6906 18.9563H2.55938C2.18438 18.9563 1.875 18.6469 1.875 18.2719V3.23438L12.5063 12.4781C12.6844 12.6281 12.9 12.7125 13.125 12.7125C13.35 12.7125 13.5656 12.6375 13.7437 12.4781L24.375 3.23438V18.2719C24.375 18.6469 24.0563 18.9563 23.6906 18.9563Z"
                                    fill="#1C519B" />
                            </svg>
                        </div>
                        <div>
                            <span class="block font-bold text-xs uppercase tracking-widest text-gray-400">E-mail
                                oficial</span>
                            <a href="mailto:coe@tcu.gov.br"
                                class="text-azul-coe-escurissimo font-semibold text-base hover:underline">coe@tcu.gov.br</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>