<div class="w-full flex justify-center bg-azul-coe-escurissimo fixed top-[80px] z-40">
    <div class="w-7xl">
        <nav class="relative flex w-full items-center justify-between bg-azul-coe-escurissimo py-2 lg:flex-wrap lg:justify-start"
            data-twe-navbar-ref>
            <div class="px-6 lg:px-0 w-full flex">
                <button
                    class="block border-0 bg-transparent px-2 text-white/50 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 lg:hidden"
                    type="button" data-twe-collapse-init data-twe-target="#navbarSupportedContent3"
                    aria-controls="navbarSupportedContent3" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="[&>svg]:w-7 [&>svg]:stroke-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                </button>

                <div class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
                    id="navbarSupportedContent3" data-twe-collapse-item>
                    <a class="mb-4 me-5 ms-0 mt-3 flex items-center lg:mb-0 lg:mt-0" routerLink="">
                        <img src="/assets/logo/logoCOE.svg" style="height: 48px" alt="COE Logo" loading="lazy" />
                    </a>

                    <ul class="ml-auto flex flex-col lg:flex-row list-none ps-0" data-twe-navbar-nav-ref>



                        <a routerLink="sobre">
                            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                                <a class="flex items-center whitespace-nowrap py-2 text-white transition duration-200 hover:text-white/80 hover:ease-in-out focus:text-white/80 active:text-white/80 motion-reduce:transition-none lg:px-2"
                                    href="#" data-twe-nav-link-ref>Quem Somos</a>
                            </li>
                        </a>

                        <a routerLink="eventos/lista">
                            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                                <a class="flex items-center whitespace-nowrap py-2 text-white transition duration-200 hover:text-white/80 hover:ease-in-out focus:text-white/80 active:text-white/80 motion-reduce:transition-none lg:px-2"
                                    href="#" data-twe-nav-link-ref>Calendário</a>
                            </li>
                        </a>

                        <a routerLink="/eventosVitrine">
                            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                                <a class="flex items-center whitespace-nowrap py-2 text-white transition duration-200 hover:text-white/80 hover:ease-in-out focus:text-white/80 active:text-white/80 motion-reduce:transition-none lg:px-2"
                                    data-twe-nav-link-ref>Eventos</a>
                            </li>
                        </a>

                        <li class="static" data-twe-nav-item-ref data-twe-dropdown-ref>
                            <a class="flex items-center whitespace-nowrap py-2 pe-2 text-white transition duration-200 hover:text-white/80 hover:ease-in-out focus:text-white/80 active:text-white/80 motion-reduce:transition-none lg:px-2"
                                href="#" type="button" id="megaMenuDropdown" data-twe-dropdown-toggle-ref
                                aria-expanded="false">
                                Modalidades Esportivas
                                <span class="ms-2 [&>svg]:h-5 [&>svg]:w-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </a>
                            <div class="absolute left-0 right-0 top-full z-[1000] mt-0 hidden w-full border-none bg-white bg-clip-padding shadow-lg data-[twe-dropdown-show]:block"
                                aria-labelledby="megaMenuDropdown" data-twe-dropdown-menu-ref>
                                <div class="container mx-auto px-6">
                                    <div class="grid grid-cols-1 lg:grid-cols-4 shadow-xl overflow-hidden bg-white">

                                        <div
                                            class="lg:col-span-3 p-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-1">
                                            @for (esporte of consolidados(); track esporte.id) {
                                            <a [routerLink]="['/modalidades', esporte.slug]"
                                                class="flex items-center px-4 py-2 hover:bg-zinc-100 transition-all group">
                                                <div
                                                    class="w-8 h-8 flex-shrink-0 flex items-center justify-center bg-[#E0EBFF] mr-3 rounded-lg">
                                                    <img [src]="esporte.icone?.url" class="w-4 h-3 object-contain"
                                                        [alt]="esporte.nome" />
                                                </div>
                                                <span class="text-[14px] font-medium text-[#2D2D2F]">{{ esporte.nome
                                                    }}</span>
                                            </a>
                                            }
                                        </div>

                                        <div class="bg-[#F2F2F2] p-8  h-full">
                                            <h3
                                                class="text-[12px] font-bold text-[#2D2D2F] mb-6 uppercase tracking-tight">
                                                Modalidades em Formação
                                            </h3>

                                            <div class="flex flex-col gap-3">
                                                @for (esporte of emFormacao(); track esporte.id) {
                                                <a [routerLink]="['/modalidades', esporte.slug]"
                                                    class="flex items-center group py-1">
                                                    <div
                                                        class="w-8 h-8 flex-shrink-0 flex items-center justify-center bg-[#E0EBFF] mr-3 rounded-lg">
                                                        <img [src]="esporte.icone?.url" class="w-4 h-3 object-contain"
                                                            [alt]="esporte.nome" />
                                                    </div>
                                                    <span
                                                        class="text-[13px] font-medium text-[#2D2D2F] group-hover:text-[#3A71C7]">
                                                        {{ esporte.nome }}
                                                    </span>
                                                    <span
                                                        class="ml-2 px-1 py-0.5 bg-[#FFC72E] text-[#950F0F] text-[8px] font-bold rounded uppercase">
                                                        Novo
                                                    </span>
                                                </a>
                                                } @empty {
                                                <p class="text-xs text-gray-400 italic">Nenhuma modalidade nova.</p>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </li>


                        <a routerLink="depoimentos">
                            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                                <a class="flex items-center whitespace-nowrap py-2 text-white transition duration-200 hover:text-white/80 hover:ease-in-out focus:text-white/80 active:text-white/80 motion-reduce:transition-none lg:px-2"
                                    href="#" data-twe-nav-link-ref>Histórias Inspiradoras</a>
                            </li>
                        </a>

                        <a routerLink="noticias">
                            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                                <a class="flex items-center whitespace-nowrap py-2 text-white transition duration-200 hover:text-white/80 hover:ease-in-out focus:text-white/80 active:text-white/80 motion-reduce:transition-none lg:px-2"
                                    data-twe-nav-link-ref>Notícias</a>
                            </li>
                        </a>

                        <a routerLink="contatos">
                            <li class="mb-4 lg:mb-0" data-twe-nav-item-ref>
                                <a class="flex items-center whitespace-nowrap py-2 text-white transition duration-200 hover:text-white/80 hover:ease-in-out focus:text-white/80 active:text-white/80 motion-reduce:transition-none"
                                    data-twe-nav-link-ref>Fale Conosco</a>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>