/* 1. Imports Globais */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";

/* Lê os arquivos JS da biblioteca */
@source "../node_modules/tw-elements/js/**/*.js";

/* Carrega o plugin do TW Elements */
@plugin "tw-elements/plugin.cjs";

/* 3. Sua Configuração Visual */
@theme {
  /* Tipografia */
  --font-sans: "Roboto", sans-serif;

  /* Cores Personalizadas */
  --color-texto-suporte-neutro-clarissimo: #FEFEFE;
  --color-texto-suporte-primario-escurissimo: #0D264A;
  --color-texto-conteudo-primario: #2D2D2F;
  --color-texto-conteudo-terciario: #717172;
  --color-texto-suporte-alerta-claro: #FFEBA3;
  --color-azul-coe-escurissimo: #1C519B;
  --color-texto-info: #3A71C7;
  --color-borda-neutro-claro: #B6B6B7;
  --color-backgroud-superficie: #F2F2F2;
  --color-backgroud-suporte-alerta: #FFC72E;
  --color-backgroud-suporte-sucesso: #68C99A;
  --color-backgroud-suporte-sucesso-base: #55A37D;
  --color-borda-neutro-claro: #B6B6B7;
  --color-azul-hero: #2B2171;

  /* Cores da Marca */
  --color-brand-light: #60A5FA;
  --color-brand-default: #2563EB;
  --color-brand-dark: #1E40AF;
}

/* Estilos Globais */
body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #e5e7eb;
}

/* As Seções: Ocupam 100% da largura */
  section {
    width: 100%;
    padding: 40px 0;
  }

  /* O Container: Centraliza o conteúdo (ex: máx 1200px) */
  .container {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

  /* --- VARIAÇÕES DE FUNDO --- */

  /* Seção "Padrão" (usa o fundo do body ou força transparente) */
  .secao-padrao {
    /* Fundo transparente, deixa vazar o cinza do body */
  }

  /* Seção "Destaque" (fundo branco para leitura) */
  .secao-conteudo {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
  }

  /* Seção "Institucional" (Azul do TCU) */
  .secao-azul {
    background-color: #0c326f; /* Azul escuro institucional */
    color: white;
  }

@keyframes slide-track {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } 
}

.animate-infinite-scroll {
  animation: slide-track 20s linear infinite;
  width: max-content;
}