<app-hero-padrao titulo="Eventos" imagemUrl="assets/imagens/eventos.jpg" classeCorOverlay="bg-[#2B2171]/30"
    posicaoImagem="center">
</app-hero-padrao>
<app-section-header titulo="O que vem por ai" />
<div class="container">

    <div class="mt-8">

        <div class="mt-8">
            <h3 class="text-2xl font-medium text-azul-coe-escurissimo dark:text-neutral-300 mb-4">
                Eventos anuais
            </h3>

            <div class="-mx-3">
                <app-carrossel-cards [totalItens]="eventosAnuais().length">
                    @for (evento of eventosAnuais(); track evento.id) {
                    <div class="w-full md:w-1/2 lg:w-1/3 flex-none px-3">
                        <a [routerLink]="['/eventos', evento.slug]"
                            class="min-w-[85vw] md:min-w-0 snap-center shrink-0 block rounded-xl overflow-hidden shadow-sm hover:shadow-lg hover:-translate-y-1 transition-all duration-300">
                            <img [src]="evento.imagemAcessoRapidoUrl || 'assets/placeholder-banner.png'"
                                [alt]="evento.titulo" class="w-full h-auto object-cover">
                        </a>
                    </div>
                    } @empty {
                    <p class="w-full text-center text-gray-500 py-10">Nenhum evento anual agendado.</p>
                    }
                </app-carrossel-cards>
            </div>
        </div>


        <!-- <div
            class="flex md:grid md:grid-cols-2 lg:grid-cols-4 gap-4 overflow-x-auto snap-x snap-mandatory pb-4 md:pb-0 md:overflow-visible mt-4">

            @for (evento of eventosAnuais(); track evento.id) {
            <a [routerLink]="['/eventos', evento.slug]"
                class="min-w-[85vw] md:min-w-0 snap-center shrink-0 block rounded-xl overflow-hidden shadow-sm hover:shadow-lg hover:-translate-y-1 transition-all duration-300">

                <img [src]="evento.imagemAcessoRapidoUrl || 'assets/placeholder-banner.png'" [alt]="evento.titulo"
                    class="w-full h-auto object-cover">

            </a>
            }

        </div> -->



    </div>


    <div class="flex justify-between items-center mb-4 mt-8">
        <h3 class="text-2xl font-medium text-azul-coe-escurissimo dark:text-neutral-300">
            Eventos gerais
        </h3>
        <div>
            <app-botao-padrao [routerLink]="'/eventos/lista'" label="Veja mais"
                [tamanho]="(windowWidth < 768) ? 'sm' : 'md'">
            </app-botao-padrao>
        </div>
    </div>

    <div class="-mx-3">
        <app-carrossel-cards [totalItens]="eventosGerais().length">
            @for (evento of eventosGerais(); track evento.id) {
            <div class="w-full md:w-1/2 lg:w-1/3 flex-none px-3">
                <app-card-evento-vitrine [data]="evento" />
            </div>
            } @empty {
            <p class="w-full text-center text-gray-500 py-10">Nenhum evento geral agendado.</p>
            }
        </app-carrossel-cards>
    </div>


</div>